<main>
  <div class="container">
    <h2><%= t("layouts.header.about") %></h2>
    <section>
      <p>寮で、研究室で、オフィスで・・・・・・ちょいちょい見かける 「在室状況が表示されたアレ」 をWebサービスにしました。
        <br>出るときにぽちり、入るときにぽちりとすれば、誰が部屋にいるのか一目でわかります。
      </p>
    </section>
    <h2>使い方</h2>
    <section>
      <p>本サイトは複数名で利用することを前提としています。
        <br>アカウントはルーム単位で作成し、ルームに設定したパスワードを共有して利用してください。
        <br>ユーザ単位でのアカウントはありません。
      </p>
      <h3>利用までの流れ</h3>
      <p></p>
      <h4>ルームを作成</h4>
      <p>トップページのリンクもしくは<%= link_to("こちら", "#") %>からルームを作成します。
      <br>ルームの名称と、ユーザー間で共有するパスワードを設定してください。どちらも後で変更可能です。
      <br>作成後はルームにログインした状態になります
    </p>
      <h4>ルームのURLを共有</h4>
      <p>メニューから「<%= t("layouts.header.share") %>」をクリックしてください。
        <br>表示されるポップアップ画面でルームのURLをコピーし、パスワードとともに、ルームにログインするユーザに共有してください。</p>
      <h4>ユーザの追加</h4>
      <p>ルームにログインしたらまずメニューの「<%= t("layouts.header.user") %>」からユーザを追加してください。
        <br>ユーザ名はルームの他のユーザに表示されます。ルーム内で同じユーザ名を複数登録することはできません。
        <br>アバター画像を設定しない場合デフォルトの画像が表示されますが、大変見づらく不便なことになるので、なるべくオリジナルの画像を設定してください。画像はよしなに正方形に直されます。
        <br>どちらも後で変更可能です。
      </p>
      <h3>入室・退室</h3>
      <p>ホームに表示されている自分のアバター画像をクリックorタップしてください。
      <br>入室中であれば退室に、退室中であれば入室に切り替わり、Activityにログが残ります。</p>
    </section>
    <h2>その他</h2>
    <section>
      <p>不明なことがあればメニューの「<%= t("layouts.header.feedback") %>」からお問い合わせください。</p>
    </section>
  </div>
</main>
