<main>
  <div class="container">
    <h1><%= @room.name %></h1>
    <%= link_to("Add Member", new_room_user_path(@room) , class: 'btn') %>
  </div>
  <div class="container users">
    <h2>User's</h2>
    <ul>
      <% @users.each do | user |%>
      <li>
        <%= avatar_imgtag(user) %>
        <span><%= user.name %></span>
        <span>
          <%= link_to "EDIT", edit_room_user_path(@room,user), class: "btn-min" %>
          <%= link_to "DELETE", room_user_path(@room,user), class:"btn-min", method: :delete,
                                    data: { confirm: t('.confirm') }%>
        </span>
      </li>
      <% end %>
    </ul>
  </div>
</main>
