<main>
  <div class="container">
    <h1><%= @room.name %></h1>
    <p class="message" id="count">
      <%= staying_user_count(@room) %>
    </p>
  </div>
  <div class="container room">
    <div class="room-members">
      <%= link_to(t("layouts.header.user"), room_users_path(@room) , class: 'btn') if @room.users.empty? %>
      <%= render @room.users %>
    </div>
  </div>
  <div class="container activity">
    <h2><%= "Activity" unless @room.activities.empty? %></h2>
    <ul id="activities_ul">
      <%= render @room.activities[0..9] %>
    </ul>
    </div>
  </div>
</main>
