<div class="container">
  <section>
    <h1><%= @room.name %></h1>
    <p class="message" id="count"><%= pluralize(@room.users.where(is_staying: true).count, "person") %> here.</p>
  </section>
  <section class="room-img">
    <% unless @room.users.count %>
      <%= link_to("Member Setting", room_users_path(@room.id) , class: 'btn') %>
    <% end %>
    <%= render @room.users %>
  </section>
  <section>
    <h2>Activity</h2>
    <div class="activity">
      <ul id="activities_ul">
        <%= render @room.activities[0..9] %>
      </ul>
    </div>
  </section>
</div>
