<li>
  <%= avatar_imgtag(activity.user) %>
  <% case activity.action %>
  <% when 1 %>
    <span><%= t('.enter_message', name: activity.user.name) %></span>
  <% when 2 %>
    <span><%= t('.leave_message', name: activity.user.name) %></span>
  <% when 3 %>
    <span><%= t('.create_message', name: activity.user.name) %></span>
  <% end %>
  <span><small><%= time_ago_in_words(activity.created_at) %><%= t('.ago') %></small></span>
</li>
