<header class="header">
  <div class="header-logo">
    <%= link_to "Who's There",  root_path %></a>
  </div>
  <nav class="global-nav">
    <ul>
      <% if logged_in? %>
        <li><%= link_to "Share Room Link",  "#" %></li>
        <li><%= link_to "Member Setting",   room_users_path(current_room) %></li>
        <li><%= link_to "Room Setting",     edit_room_path(current_room) %></li>
        <li><%= link_to "Log out",          room_logout_path(current_room),
                                            method: :delete %></li>
      <% end %>
        <li><%= link_to "Feedback",         "#" %></li>
    </ul>
  </nav>
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger_line1"></span>
    <span class="hamburger_line2"></span>
    <span class="hamburger_line3"></span>
  </div>
</header>
