<header>
  <div class="header-logo">
    <%= link_to "Who's There",  root_path %>
  </div>
  <nav class="header-nav">
    <ul>
      <% if logged_in? %>
        <li><%= link_to t('.share'), 'javascript:ShareLinkWindow("'+ room_url(current_room) +'")' %></li>
        <li><%= link_to t('.home'),   room_path(current_room) %></li>
        <li><%= link_to t('.user'),   room_users_path(current_room) %></li>
        <li><%= link_to t('.room'),   edit_room_path(current_room) %></li>
        <li><%= link_to t('.logout'), room_logout_path(current_room),
                                        method: :delete %></li>
      <% end %>
        <li><%= link_to t('.feedback'), 'javascript:FeedbackWindow()' %></li>
    </ul>
  </nav>
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger_line1"></span>
    <span class="hamburger_line2"></span>
    <span class="hamburger_line3"></span>
  </div>
</header>
