<header class="header">
  <div class="header-logo">
    <%= link_to "Who's There",  root_path %></a>
  </div>
  <nav class="global-nav">
    <ul>
      <li><%= link_to "Share Room Link",  "#" %></li>
      <li><%= link_to "Member Setting",   "#" %></li>
      <li><%= link_to "Room Setting",     "#" %></li>
      <li><%= link_to "Feedback",         "#" %></li>
    </ul>
  </nav>
  <div class="hamburger" id="js-hamburger">
    <span class="hamburger_line1"></span>
    <span class="hamburger_line2"></span>
    <span class="hamburger_line3"></span>
  </div>
</header>
